tr:nth-child(2n) {background-color: aliceblue;}
thead {background-color: #bab9f1}

#output {font-size: large;}
table {font-size: large;}
td, th {padding: 5; text-align: center;}

#lblLanguageHeader, #lnkTownFinderLink, #lblPages {padding: 0 0 0 10; font-weight: bold;}
#lblLanguageValue {font-weight: bold; color:chocolate}

.visitorCounter {margin: auto; width: 50%; border-style: dotted;}

.flagCounter {
    display: contents;
}
.flagCounter img {
    height: 85;
}

    

main {border-style: ridge; padding: 5;}

.feedback
{
    height: 60px;
    float: right;
    margin-right: 10;
}

.feedbackDiv
{
    margin-right: 80;
}